<div id="header">
    <div id="logo">
      <div id="logo_text">
        <h1><a href="index.html">Site<span class="logo_colour">Simples</span></a></h1>
        <h2>B&aacute;sico. Banal. Normal.</h2>
      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <li class="selected"><a href="index.html">In&iacute;cio</a></li>
        <li><a href="pagina.html">Uma página</a></li>
        <li><a href="outra-pagina.html">Outra Página</a></li>
        <li><a href="contactos.html">Contactos</a></li>
      </ul>
    </div>
  </div>