<div class="sidebar">
    <div class="sidebar_top"></div>
    <div class="sidebar_item">
      <h3>Ultimas notícias</h3>
      <h4>Novo site</h4>
      <h5>06 de Novembro 2018</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing...<br />
      <a href="#">Saber mais</a></p>
    </div>
    <div class="sidebar_base"></div>
  </div>